body {
    background-color: #f0f3f7;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    margin: auto;
    text-align: center;
    padding: 25px;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div {
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 25px;
}

p {
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 5px;
}

button {
    width: 75px;
    height: 75px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border-radius: 5px;
    border: 0;
    box-shadow: 3px 4px 4px 0.2px grey;
    margin: 20px;
    transition: 0.3s;
}

button:hover {
    width: 100px;
    height: 100px;
}

button:active {
    background-position: 10px 10px;
}

.paper-btn{
    background-image: url("images/tissue-paper.svg");   
}

.rock-btn {
    background-image: url("images/rock-and-roll.svg");
}

.scissors-btn {
    background-image: url("images/peace.svg");
}

.play-again {
    height: 50px;
    width: 100px;
    visibility: hidden;
}

.play-again-visible {
    visibility: visible;
}

.play-again:hover {
    height: 60px;
    width: 120px;
}

.game-output {
    display: flex;
}

.round-outcome {
    padding-bottom: 30px;
}