h1 {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 25px;
    
}

div {
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 25px;
}

p {
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 5px;
}

.paper {
    background-image: url("paper.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    
}

.rock {
    background-image: url("rock.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}

.scissors {
    background-image: url("scissors.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}