h1 {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 25px;
    
}

div {
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 25px;
}

p {
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 5px;
}

.paper {
    width: 50px;
    height: auto;
}

.rock {
    width: 50px;
}

.scissors {
    width: 50px;
}